{% extends "blog/base.html" %}
{% load static %}

{% block title %}Example blog app{% endblock %}

{% block content %}
    <h1>Funny stories of my life</h1>
    <hr>
    {% for post in posts %}
          <h4><a href="{{ post.get_absolute_url }}">
            {{ post|title }}
          </a></h4>
    {% endfor %}
    <hr>
    <p class="text-muted">
      This is an example of blog application to demonstrate how
      <a href="https://github.com/zerc/django-light-draft" target="_blank">
        django-light-draft
      </a> package works. Please select a post from the list above.
    </p>
    <p class="text-center">
      <img src="{% static "images/DLD.png" %}" alt="Django Light Draft" />
    </p>
{% endblock %}
