<html>
<head>
    <title>{{ post }} :: Example blog app</title>
</head>
<body>
    <a href="{% url 'posts_list' %}">
        Blog list
    </a> &mdash; {{ post }}

    <br>

    <h1>{{ post }}</h1>
    <small>{{ post.category }}</small>

    {{ post.lead|safe }}

    <hr>

    {{ post.body|safe }}

    <h2>Extra information</h2>

    {% for text_block in post.blocks__draft|default:post.blocks.all %}
        <h4>{{ text_block }}</h4>
        <p>{{ text_block.body }}</p>
        <hr>
    {% endfor %}
</body>
</html>
