<html>
<head>
    <title>{{ post }} :: Example blog app</title>
</head>
<body>
    <a href="{% url 'posts_list' %}">
        Blog list
    </a> &mdash; {{ post }}

    <br>

    <h1>
        {{ post }}
        <small style="font-size:12px;">{{ post.category|default:'' }}</small>
        <div  style="font-size:12px;">
            {% for tag in post.tags.all %}
                {{ tag }}
                {% if not forloop.last %},{% endif %}
            {% endfor %}
        </div>
    </h1>

    {{ post.lead|safe }}

    <hr>

    {{ post.body|safe }}

    {% for text_block in post.blocks.all %}
        {% if forloop.first %}
            <h2>Extra information</h2>
        {% endif %}
        <h4>{{ text_block }}</h4>
        <p>{{ text_block.body }}</p>
        <hr>
    {% endfor %}
</body>
</html>
